.ThemeDark {
    --accent-0: var(--oc-blue-0);
    --accent-1: var(--oc-blue-1);
    --accent-2: var(--oc-blue-2);
    --accent-3: var(--oc-blue-3);
    --accent-4: var(--oc-blue-4);
    --accent-5: var(--oc-blue-5);
    --accent-6: var(--oc-blue-6);
    --accent-7: var(--oc-blue-7);
    --accent-8: var(--oc-blue-8);
    --accent-9: var(--oc-blue-9);
    --accent-background-0: var(--oc-blue-0);
    --accent-background-1: var(--oc-blue-1);
    --accent-background-2: var(--oc-blue-2);
    --accent-background-3: var(--oc-blue-3);
    --accent-background-4: var(--oc-blue-4);
    --accent-background-5: var(--oc-blue-5);
    --accent-background-6: var(--oc-blue-6);
    --accent-background-7: var(--oc-blue-7);
    --accent-background-8: var(--oc-blue-8);
    --accent-background-9: var(--oc-blue-9);
    
    --color: var(--oc-gray-0);
    --background-color: var(--oc-gray-9);
    --input-field-color: var(--oc-gray-2);
    --input-field-background-color: var(--oc-gray-8);
    --input-field-icon-container-color: var(--oc-gray-2);
    --input-field-icon-container-background-color: var(--oc-gray-7);
    --input-field-placeholder-color: var(--oc-gray-5);
    --input-field-error-color: var(--oc-red-2);
    --input-field-error-background-color: var(--oc-red-7);
    --sidebar-background-color: var(--oc-gray-8);
    --members-bar-background-color: var(--oc-gray-8);
    --members-toolbar-background-color: var(--oc-gray-7);
    --channel-bar-background-color: var(--oc-gray-7);
    --channel-button-background-color: var(--oc-gray-6);
    --channel-button-background-color-hovered: var(--oc-gray-5);
    --message-background-color: var(--oc-gray-8);
    --message-author-color: var(--oc-gray-5);
    --message-date-color: var(--oc-gray-6);
    --button-background-color: var(--oc-gray-7);
    --button-color: var(--oc-gray-2);
    --button-background-color-hovered: var(--oc-gray-6);
    --button-color-hovered: var(--oc-gray-0);
    --button-background-color-pressed: var(--oc-gray-8);
    --button-color-pressed: var(--oc-gray-3);
    --tooltip-background-color: var(--oc-gray-7);
    --link-color: var(--oc-blue-4);
    --link-color-visited: var(--oc-blue-4);
}

.App {
    box-sizing: border-box;

    min-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--background-color);
    color: var(--color);

    overflow: hidden;
}