@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.App {
    box-sizing: border-box;

    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    background: var(--background-color);
    color: var(--color);

    overflow: hidden;
}

.LoadingSpinner {
    animation: spin 1.5s linear infinite;
}

.LoadText {
    color: var(--oc-gray-5);
}