.Chat {
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 16px;

    height: 100%;
    max-height: inherit;

    .ChatMessages {
        overflow-y: scroll;
        
        .ScrolledRect {
            position: relative;
            
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
        }
    }

    .ChatInput {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

        background-color: var(--oc-gray-7);
        color: inherit;

        padding: 8px;
        border-radius: 16px;

        textarea {
            flex-grow: 1;

            /* Padding (normal padding doesn't work for textarea in this context) */
            border: solid 16px transparent;

            background-color: var(--oc-gray-8);
            border-radius: 8px;

            color: inherit;
            font-size: inherit;

            resize: none;

            font-family: inherit;

            &:focus {
                outline: none;
            }
        }

        .ChatInputIcon {
            color: var(--color);
            padding: 16px;
        }
    }
}

.EmojiPicker {
    position: absolute;
    top: calc(var(--e-pos-y) - 20px);
    left: calc(var(--e-pos-x) + 20px);
    transform: translate(-100%, -100%);

    width: 300px;
}